{% extends "admin/adminlayout.html" %}
{% block content %}
<div class="container my-5">
    <div class="bg-white p-5 rounded shadow">
        <h3 class="text-center mb-4"><b>Applicant Full Details</b></h3>

        <h5 class="mb-3">Personal Info</h5>
        <ul class="list-group mb-4">
            <li class="list-group-item"><b>Full Name:</b> {{ user.fullname }}</li>
            <li class="list-group-item"><b>Gender:</b> {{ user.gender }}</li>
            <li class="list-group-item"><b>DOB:</b> {{ user.dob }}</li>
            <li class="list-group-item"><b>Phone:</b> {{ user.phone }}</li>
            <li class="list-group-item"><b>email:</b> {{ user.email }}</li>
            <li class="list-group-item"><b>State:</b> {{ user.state }}</li>
            <li class="list-group-item"><b>Geo:</b> {{ user.geo }}</li>
            <li class="list-group-item"><b>Media:</b> {{ user.media }}</li>
            <li class="list-group-item"><b>Type:</b> {{ user.type }}</li>
            <li class="list-group-item"><b>Role:</b> {{ user.role }}</li>
            <li class="list-group-item"><b>Journalism:</b> {{ user.journalism }}</li>
            <li class="list-group-item"><b>Finance:</b> {{ user.finance }}</li>
            <li class="list-group-item"><b>Supervisor:</b> {{ user.supervisor }}</li>
        </ul>

                    {% if information %}
    <h5 class="mb-3">Submitted Information</h5>
    <ul class="list-group">
        <li class="list-group-item"><b>Leadership:</b> {{ information.leadership }}</li>
        <li class="list-group-item"><b>Leadership Description:</b> {{ information.leadership_desc }}</li>
        <li class="list-group-item"><b>Motivation:</b> {{ information.motivation }}</li>
        <li class="list-group-item"><b>Knowledge Use:</b> {{ information.knowledge_use }}</li>
        <li class="list-group-item"><b>Commitment:</b> {{ information.commitment }}</li>
        <li class="list-group-item"><b>Signature:</b> {{ information.signature }}</li>
        <li class="list-group-item"><b>Signature Date:</b> {{ information.sign_date }}</li>

        <li class="list-group-item"><b>Article 1:</b><br>
            {% if information.article1 %}
              {% set ext = information.article1.rsplit('.', 1)[-1].lower() %}

              {% if ext in ['jpg', 'jpeg', 'png'] %}
                  <!-- Display image -->
                  <img src="{{ information.article1 }}" alt="Transcript" class="img-fluid" style="max-width: 200px;"><br>
              {% elif ext == 'pdf' %}
                  <!-- Display PDF in iframe -->
                  <embed src="{{ information.article1 }}" type="application/pdf" width="100%" height="600px">
                  

              {% endif %}

              <!-- Download button (works for both) -->
              
              <button type="button" class="btn btn-sm mt-2 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1"> View Article 2 </button>
          {% endif %}

        </li>

        <li class="list-group-item"><b>Article 2:</b><br>
            
            {% if information.article2 %}
              {% set ext = information.article2.rsplit('.', 1)[-1].lower() %}

              {% if ext in ['jpg', 'jpeg', 'png'] %}
                  <!-- Display image -->
                  <img src="{{ information.article2 }}" alt="Article result" class="img-fluid" style="max-width: 200px;"><br>
              {% elif ext == 'pdf' %}
                  <!-- Display PDF in iframe -->
                  <embed src="{{ information.article2 }}" type="application/pdf" width="100%" height="600px">
                 

              {% endif %}

              <!-- Download button (works for both) -->
              
              <button type="button" class="btn btn-sm mt-2 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">  View Article 1 </button>
          {% endif %}

            
        </li>

        
        
        
    </ul>
            {% endif %}
            

            
            
               <div style="display: flex;">
                 <div class="mt-4">
                    <a href="{{ url_for('approve_user', user_id=user.id) }}" class="btn text-white bg-success text-sm">Approve Applicant</a>
                </div>
                <div class="mt-4 mx-2">
                    <a href="{{ url_for('decline_user', user_id=user.id) }}" class="btn text-white bg-danger text-sm">Decline Applicant</a>
                </div>
               </div>
           



        <div class="mt-4">
            <a href="{{ url_for('all_users') }}" class="btn btn-secondary">Back to Users</a>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">article1 Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if information.transcript %}
          {% set ext = information.transcript.rsplit('.', 1)[-1].lower() %}
          
          {% if ext in ['jpg', 'jpeg', 'png', 'gif'] %}
            <img src="{{ information.transcript }}" alt="Transcript" class="img-fluid" style="max-width: 100%; max-height: 800px;">
          {% elif ext == 'pdf' %}
            <embed src="{{ information.transcript }}" width="100%" height="600px">
          {% endif %}
        {% else %}
          <p>No transcript available.</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Article 2 Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if information.article2 %}
          {% set ext = information.article2.rsplit('.', 1)[-1].lower() %}
          
          {% if ext in ['jpg', 'jpeg', 'png', 'gif'] %}
            <img src="{{ information.article2 }}" alt="article2" class="img-fluid" style="max-width: 100%; max-height: 800px;">
          {% elif ext == 'pdf' %}
            <embed src="{{ information.article2 }}" width="100%" height="600px">
          {% endif %}
        {% else %}
          <p>No Article available.</p>
        {% endif %}
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Article 1 Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if information.article1 %}
          {% set ext = information.article1.rsplit('.', 1)[-1].lower() %}
          
          {% if ext in ['jpg', 'jpeg', 'png', 'gif'] %}
            <img src="{{ information.article1 }}" alt="Transcript" class="img-fluid" style="max-width: 100%; max-height: 800px;">
          {% elif ext == 'pdf' %}
            <embed src="{{ information.article1 }}" width="100%" height="600px">
          {% endif %}
        {% else %}
          <p>No Article available.</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}







]



